In [1]:
# imports 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

url = "http://techfair-data.comparably.com/culture/indeed.json"

In [2]:
df = pd.read_json(url)

In [60]:
df["company"]["location"]

{'city': 'Austin', 'country': 'USA', 'state': 'Texas'}

In [4]:
df["culture"][i]['grade']=='A+'

CEORating                   {'score': 'Top 5%', 'grade': 'A+'}
Compensation                {'score': 'Top 5%', 'grade': 'A+'}
Diversity                   {'score': 'Top 5%', 'grade': 'A+'}
Environment                 {'score': 'Top 5%', 'grade': 'A+'}
ExecutiveTeam               {'score': 'Top 5%', 'grade': 'A+'}
Gender                     {'score': 'Top 15%', 'grade': 'A-'}
Happiness                   {'score': 'Top 5%', 'grade': 'A+'}
Leadership                  {'score': 'Top 10%', 'grade': 'A'}
Manager                    {'score': 'Top 15%', 'grade': 'A-'}
Meetings                    {'score': 'Top 10%', 'grade': 'A'}
OfficeCulture               {'score': 'Top 10%', 'grade': 'A'}
OverallCulture              {'score': 'Top 5%', 'grade': 'A+'}
PerkAndBenefits             {'score': 'Top 5%', 'grade': 'A+'}
ProfessionalDevelopment    {'score': 'Top 15%', 'grade': 'A-'}
Retention                   {'score': 'Top 5%', 'grade': 'A+'}
Sentiment                   {'score': 'Top 5%', 'grade': 'A+'}
Team                        {'score': 'Top 10%', 'grade': 'A'}
WorkCulture                 {'score': 'Top 5%', 'grade': 'A+'}
eNPS                        {'score': 'Top 10%', 'grade': 'A'}
location                                                   NaN
name                                                       NaN
url                                                        NaN
Name: culture, dtype: object

# Create dictionary of culture ratings

* Top 5% = A+
* Top 10% = A
* Top 15% = A-
* Top

In [6]:
if len(df['culture']) < some_number:
    #do not use

22

In [ ]:
# Todo calculations to create our features company vs job seeker (different collections)
# Culture Fit
# Technical Skill (initially null)
# Behavioral/Teamwork compatibility
# Size (preferred) - Does Not Apply if no preference
# Distance(Radius from Home City/State) - Does Not Apply if open for relocation
# industry if applies
# compensation if applies (may be too ambitious)

In [ ]:
# Save as dictionary
# culture_fit_score (? how to weigh features...)
# technical_skill (calculated using average scores of people who got accepted)
# behavioral/teamwork compatibility (calculated from questionaire/survey for initial assessment) - updates over seeker's career lifetime
# company_size
# distance
# industry - DNA if seeker does not specify
# compensation - convert into letter (based off years experience and average/std dev)

In [47]:
company_name = "Amazon"
cultural_fit_score = 90
technical_skill = 95
behavioral = 87 # teamwork
size = "large"
lat_long = [-71.92, 21.42]
industry = "Technology"
compensation = "A+"
people_accepted_rejected = ["Jeff", "Beau", "Loc"]

In [48]:
# company collection after data preprocessing and cleaning
output_company = {"name": company_name, \
                  "features": {"culture fit": cultural_fit_score, \
                  "tech_skill": technical_skill, \
                  "behavior": behavioral, \
                  "size": size, \
                  "latlng": lat_long, \
                  "ind_type": industry, \
                  "comp": compensation, \
                  "applicants": people_accepted_rejected}}

In [49]:
output_company

{'features': {'applicants': ['Jeff', 'Beau', 'Loc'],
  'behavior': 87,
  'comp': 'A+',
  'culture fit': 90,
  'ind_type': 'Technology',
  'latlng': [-71.92, 21.42],
  'size': 'large',
  'tech_skill': 95},
 'name': 'Amazon'}

In [19]:
# job seeker collection after data preprocessing and cleaning
output_seeker = {"culture fit": cultural_fit_score, /
          "tech_skill": technical_skill, /
          "behavior": behavioral, /
          "size": size, /
          "latlng": lat_long, /
          "ind_type": industry, /
          "comp": compensation}

SyntaxError: invalid syntax (<ipython-input-19-8095431faaa8>, line 2)

In [8]:
# extract to put into google API - obtain lat_long values
df['company']['location']

{'city': 'Austin', 'country': 'USA', 'state': 'Texas'}

In [50]:
# import pymongo and upsert outputs into mongo_db (2 collections: company and seeker)
# Module used to connect Python with MongoDb
import pymongo

# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'classDB' database in Mongo
db = client.jobdateDB

In [51]:
# Insert a document into the 'company' collection
db.company.insert_one(
    output_company
)

# Update a document
#db.company.update_one(
#    {'name': 'Ahmed'},
#    {'$set':
#        {'row': 4}
#     }
#)

## Add an item to a document array
#db.classroom.update_one(
#    {'name': 'Ahmed'},
#    {'$push':
#        {'hobbies': 'Listening to country music'}
#     }
#)

## Delete a field from a document
#db.classroom.update_one({'name': 'Ahmed'},
#                        {$unset:
#                         {'gavecandy': ""}
#                         }
#                        )


## Delete a document from a collection
#db.classroom.delete_one(
#    {'name': 'Ahmed'}
#)

In [52]:
# Query all students
# Here, db.students refers to the collection 'classroom '
companies = db.company.find()

# Iterate through each student in the collection
for company_name in companies:
    print(company_name)

{'_id': ObjectId('5aa07c76d05ded31201d7428'), 'name': 'Amazon', 'features': {'culture fit': 90, 'tech_skill': 95, 'behavior': 87, 'size': 'large', 'latlng': [-71.92, 21.42], 'ind_type': 'Technology', 'comp': 'A+', 'applicants': ['Jeff', 'Beau', 'Loc']}}

In [53]:
company = db.company.find() # query all data in db.company collection
df_query = pd.DataFrame(list(company)) # insert data into DF

In [54]:
df_query

,_id,features,name
0,5aa07c76d05ded31201d7428,"{'culture fit': 90, 'tech_skill': 95, 'behavio...",Amazon

In [55]:
df_query["features"][0]

{'applicants': ['Jeff', 'Beau', 'Loc'],
 'behavior': 87,
 'comp': 'A+',
 'culture fit': 90,
 'ind_type': 'Technology',
 'latlng': [-71.92, 21.42],
 'size': 'large',
 'tech_skill': 95}

In [56]:
df_query["name"][0]

'Amazon'

In [ ]:
# Apply KNN Recommender system or item/user based collaborative filtering

In [73]:
letters = ["A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D", "D-", "F"]
[x * 1/len(letters) for x in range(0, 14)]

[0.0,
 0.07692307692307693,
 0.15384615384615385,
 0.23076923076923078,
 0.3076923076923077,
 0.38461538461538464,
 0.46153846153846156,
 0.5384615384615384,
 0.6153846153846154,
 0.6923076923076923,
 0.7692307692307693,
 0.8461538461538461,
 0.9230769230769231,
 1.0]

In [91]:
letters = ["A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D", "D-", "F"]
lis = list(np.linspace(0,1,len(letters)))

In [93]:
lis = sorted(list(np.linspace(0,1,len(letters))), reverse=True)

In [94]:
print(lis)

[1.0, 0.91666666666666663, 0.83333333333333326, 0.75, 0.66666666666666663, 0.58333333333333326, 0.5, 0.41666666666666663, 0.33333333333333331, 0.25, 0.16666666666666666, 0.083333333333333329, 0.0]